.todo-list__item-link {
  max-width: 80%;
  color: white;
  margin: 0;
  padding-left: 15px;
  padding-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 400;
}